@import "tailwindcss";
@import "@heroui/styles";

::selection {
  background-color: #990000;
  color: #ffffff;
}

:root {
  --radius: 0.25rem;
}

:root,
[data-theme="light"] {
  /* Override default colors */
  --accent: #990000;
  --accent-foreground: #ffffff;

  --transparent: #00000000;
  --blurred-white: #ffffffc7;
  --default-white: #ffff;
  --soft-white: #f9f9f9;
  --off-white: #f3f3f3;
  --custom-black: #1b1b1b;
  --soft-gray: #c5c5c5;
  --gray: #898989;
  --dark-gray: #2b2b2b;
  --soft-green: #75f0a0;
  --green: #1ccc5b;
  --dark-green: #117a37;
  --soft-blue: #729cff;
  --blue: #2d6bff;
  --dark-blue: #1f4ab2;
  --yellow: #f1c40f;
  --soft-red: #ff8a8a;
  --red: #e72828;
  --dark-red: #8b1111;
  --soft-purple: #540000;
  --purple: #612d8a;
  --dark-purple: #381850;
  --civil: #a71930;
  --electrica: #490e6f;
  --sistemas: #008542;
  --industrial: #e37222;
  --electronica: #0039a6;
  --economia: #0083a9;
  --empresas: #a1006b;
  --matematicas: #003c69;
  --mecanica: #f0ab00;
  --biomedica: #5bbbb7;
  --ambiental: #7bba25;
  --estadistica: #00d900;
  --doctorados: #003946;
  --proyectos: #de3831;
  --osiris: #0938a7;
}

.dark,
[data-theme="dark"] {
  /* Override dark theme colors */
  --accent: #b30000;
  --accent-foreground: #ffffff;

  --transparent: #00000000;
  --blurred-white: #ffffffc7;
  --default-white: #ffff;
  --soft-white: #f9f9f9;
  --off-white: #f3f3f3;
  --custom-black: #1b1b1b;
  --soft-gray: #c5c5c5;
  --gray: #898989;
  --dark-gray: #2b2b2b;
  --soft-green: #75f0a0;
  --green: #1ccc5b;
  --dark-green: #117a37;
  --soft-blue: #729cff;
  --blue: #2d6bff;
  --dark-blue: #1f4ab2;
  --yellow: #f1c40f;
  --soft-red: #ff8a8a;
  --red: #e72828;
  --dark-red: #8b1111;
  --soft-purple: #540000;
  --purple: #612d8a;
  --dark-purple: #381850;
  --civil: #a71930;
  --electrica: #490e6f;
  --sistemas: #008542;
  --industrial: #e37222;
  --electronica: #0039a6;
  --economia: #0083a9;
  --empresas: #a1006b;
  --matematicas: #003c69;
  --mecanica: #f0ab00;
  --biomedica: #5bbbb7;
  --ambiental: #7bba25;
  --estadistica: #00d900;
  --doctorados: #003946;
  --proyectos: #de3831;
  --osiris: #0938a7;
}

.radius {
  border-radius: calc(var(--radius) * 3);
}

@theme inline {
  --color-primary: var(--accent);
  --color-primary-foreground: var(--accent-foreground);

  --color-transparent: var(--transparent);
  --color-blurred-white: var(--blurred-white);
  --color-default-white: var(--default-white);
  --color-soft-white: var(--soft-white);
  --color-off-white: var(--off-white);
  --color-custom-black: var(--custom-black);
  --color-soft-gray: var(--soft-gray);
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
  --color-soft-green: var(--soft-green);
  --color-green: var(--green);
  --color-dark-green: var(--dark-green);
  --color-soft-blue: var(--soft-blue);
  --color-blue: var(--blue);
  --color-dark-blue: var(--dark-blue);
  --color-yellow: var(--yellow);
  --color-soft-red: var(--soft-red);
  --color-red: var(--red);
  --color-dark-red: var(--dark-red);
  --color-soft-purple: var(--soft-purple);
  --color-purple: var(--purple);
  --color-dark-purple: var(--dark-purple);
  --color-civil: var(--civil);
  --color-electrica: var(--electrica);
  --color-sistemas: var(--sistemas);
  --color-industrial: var(--industrial);
  --color-electronica: var(--electronica);
  --color-economia: var(--economia);
  --color-empresas: var(--empresas);
  --color-matematicas: var(--matematicas);
  --color-mecanica: var(--mecanica);
  --color-biomedica: var(--biomedica);
  --color-ambiental: var(--ambiental);
  --color-estadistica: var(--estadistica);
  --color-doctorados: var(--doctorados);
  --color-proyectos: var(--proyectos);
  --color-osiris: var(--osiris);
}
